import unittest

from year_{{YEAR}}.day_{{DAY}}.part1 import Part1
from year_{{YEAR}}.day_{{DAY}}.part2 import Part2


class TestSolver(unittest.TestCase):
    def test_examples_part1(self):
        solver = Part1()
        self.assertEqual(solver.solve(['']), 0)

    def test_examples_part2(self):
        solver = Part2()
        self.assertEqual(solver.solve(['']), 0)


if __name__ == "__main__":
    unittest.main()
